* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.ContainerTabs{
  padding: 0;
}
/* Tab Container */
.Tabs {
  width: 100%;
  height: auto;
  min-height: 400px;
  background: transparent;
  margin: 3.5rem auto 1.5rem;
  padding: 2rem 1rem;
  color: #E8F0F2;
  border-radius: 2rem;
}
 
.react-tabs {
  -webkit-tap-highlight-color: transparent;
  
}
 
.react-tabs__tab-list {
  width:60%;
  margin: 0 auto 2rem;
  float: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid #39A2DB; */
  /* border-radius: 2rem; */
  padding-left: 0px;
}
 
.react-tabs__tab {
  width: 50%;
  padding: 0.75rem;
  list-style: none;
  text-align: center;
  cursor: pointer;
  transition: all 0.7s;
}
 
.react-tabs__tab--selected {
  /* background: #39A2DB; */
  color: black;
  text-decoration: underline;
}
 
.react-tabs__tab--disabled {
  color: rgb(86, 86, 86);
  cursor: default;
}
 
.react-tabs__tab:hover {
  background: rgba(224, 50, 70, 0.15);
}
 
.react-tabs__tab:first-child {
  border-bottom-left-radius: 2rem;
  border-top-left-radius: 2rem;
}
 
.react-tabs__tab:last-child {
  border-bottom-right-radius: 2rem;
  border-top-right-radius: 2rem;
}
 
.react-tabs__tab-panel {
  padding-top: 3rem;
 position: absolute;
  display: none;
}
 
.react-tabs__tab-panel--selected {
  display: block;
  font-size: 2rem;
  text-align: center;
  color: black;
}
 

