.ShortcutFrame{
    border: 1px solid black;
    margin: 0.5rem;
    padding: 1rem .5rem;
    text-align: center;
}

.ShortcutItem{
  display: inline-block;
  border: 1px solid black;
  padding: 2rem 2.5rem;
  vertical-align: middle;
}